@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.atvSpan .labelIdentif,
.labAlimRot {
  @media screen and (max-width: 900px) {
    &:not(.selectLvlAtFis) {
      min-width: 80vw;
      &.spanDiur {
        overflow: auto;
        min-width: 91vw;
      }
    }
  }
}
.bi {
  &.biPlus {
    transform: scale(1.2) translateX(0.1rem);
  }
  &.biDash {
    transform: scale(1.2) translateX(-0.4rem);
  }
}
.biBtn {
  &.countComorb,
  &.countAtFis {
    padding-inline: 0.125rem;
    height: 2.3vh;
    &.addComorb,
    &.addAtFis {
      padding-left: 0.375rem;
    }
  }
}
.consLab {
  margin-bottom: 2vh;
}
.divAddProtUr {
  &.divAdd {
    margin-top: 0.1rem;
  }
}
.divLab {
  font-weight: 500;
  margin-bottom: 2vh;
  @media screen and (max-width: 900px) {
    &:has(#nafType),
    &:has(#textBodytype) {
      margin-bottom: 2rem;
    }
    &:has(#formCalcTMBType) {
      transform: translateX(-0.5rem);
    }
  }
  @media screen and (max-width: 460px) {
    &:has(#nafType),
    &:has(#textBodytype) {
      margin-bottom: 1rem;
    }
  }
}
.divLvlAtFis {
  &.atvSpan {
    margin-bottom: 2vh;
  }
}
.divProgCons {
  align-items: start;
  @media screen and (max-width: 460px) {
    align-items: flex-start;
  }
}
.divProgFactor {
  .divLab {
    &:first-of-type {
      margin-bottom: 1rem;
    }
    &:nth-of-type(2) {
      @media screen and (max-width: 900px) {
        margin-left: 0;
      }
    }
  }
}
.divProgType {
  @media screen and (min-width: 901px) {
    .divLab {
      &:first-of-type {
        margin-right: $firstColProgMargR;
      }
    }
  }
}
.divDynamicTabs {
  width: 92vw;
  margin-left: 0.2rem;
}
.evacDMinLab {
  @media (min-width: 901px) {
    width: 27.5rem;
  }
}
.fsSpan {
  .labIdentif_2 {
    @media screen and (min-width: 900px) {
      max-width: 100%;
    }
  }
}
.flexDivEn {
  overflow: auto;
  max-width: 98vw;
  &.divRot,
  &.flexDivProg {
    column-gap: 1.5vw;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  &.flexDivTab {
    overflow: hidden;
    min-width: 17.5rem;
    box-shadow: var(--bs-shadow);
  }
  @media screen and (max-width: 900px) {
    &.divRot {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 550px) {
    &.flexDivProg {
      &:not(.divProgCons) {
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: left;
      }
    }
  }
}
.fsProgCons {
  .hr {
    transform: translateX(-0.5rem);
  }
}
.genDivEn {
  grid-template-columns: [main] 0.5fr [ident] 1fr;
  .select {
    @include minMaxWD(calc($inpRotWidFix - 11rem), calc($inpRotWidFix + 7.5rem));
  }
  @media screen and (max-width: 900px) {
    .select {
      @include fixGenWid;
    }
  }
}
.gEn,
.gbEn {
  @media screen and (max-width: 900px) {
    @include fixGenWid;
  }
}
.glSpan {
  @media (max-width: 900px) {
    min-width: 52vw !important;
  }
}
.h2 {
  margin-left: 0.5rem;
}
.hRot {
  font-size: calc(1.275rem + 0.3vw);
  padding-bottom: 1vh;
  max-width: 90vw;
}
.inpDiur {
  @include bdr0;
  @media screen and (min-width: 901px) {
    width: 15rem;
  }
  @media screen and (max-width: 900px) {
    margin-left: 0;
  }
}
.labAlimRot {
  .msrProgCons {
    margin-top: 1vh;
  }
  @media screen and (max-width: 900px) {
    min-width: 79.2vw;
  }
  @media screen and (min-width: 901px) {
    width: 20rem;
  }
}
.labGa {
  padding-left: 0;
  padding-top: 0;
  margin-left: 0.75rem;
}
.labProtUrLvl {
  width: 21ch;
  margin-top: 0.3rem;
  .protUrLvl {
    min-width: 10ch;
  }
}
.legMainEn {
  @media screen and (max-width: 900px) {
    padding-left: 0.5rem;
  }
}
.main {
  margin-inline: 1vw;
}
.msrProgCons {
  @include bdl0;
  border-radius: var(--bs-border-radius);
  margin: 0;
  padding-left: 1vw;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  box-shadow: 0.2vh 0.2vh 0.2vh grey;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.sumMsr,
  &.indMsr {
    border-radius: 0;
  }
  &.indMsr {
    min-width: 6ch;
    text-align: center;
  }
}
.nafType {
  width: 14.8rem;
  @media screen and (max-width: 900px) {
    width: $inpProgWidFix;
  }
}
.numConsTextHeadCel {
  text-align: center;
}
.protUrDiv {
  &.formPadded {
    @include minWD(33%, 25ch);
    padding-left: 1rem;
    transform: translateX(5rem);
    @media screen and (max-width: 900px) {
      transform: translateX(0);
    }
    @media screen and (max-width: 550px) {
      width: 75%;
    }
  }
}
.select {
  max-width: 94.75vw;
}
.selectLvlAtFis {
  @include minMaxWD(28vw, 10rem);
  margin-left: 0.5rem;
}
.selectNumCons {
  width: 14.8rem;
  margin-right: 0.1rem;
  @media screen and (min-width: 901px) {
    margin-right: 0.5rem;
  }
  @media screen and (max-width: 900px) {
    width: $inpProgWidFix;
    margin-right: 0.1rem;
  }
}
.selFactorAtleta {
  @media (max-width: 900px) {
    width: 52vw;
  }
}
.spanDiur {
  display: inline-block;
  width: 14.5rem;
  @media screen and (max-width: 900px) {
    width: 80vw;
  }
}
.spanAlimRot {
  &:has(input[type="radio"]) {
    margin-top: 1rem;
    .input {
      margin-top: 0.25rem;
    }
  }
}
.tabAtFisProp {
  overflow: auto;
  margin-inline: 0.3rem;
}
.tabBtn {
  z-index: 5;
  &.btnSecondary {
    @include bdl0;
    &:not(.tabBtnSum) {
      border-radius: 0;
    }
  }
  &.tabBtnSum {
    border-radius: 0 0.3rem 0.3rem 0;
  }
}
.tabInpProg {
  border: solid 1px #dee2e6;
}
.tabLabProgCons {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  &.formControl {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
.tabSelectDCutId {
  width: 12rem;
}
.trioReadNumCons {
  max-width: 14.5rem;
}
