/* Od Page Style */
@use "../abstracts/variables" as *;
@use "../base/root" as *;
@use "../abstracts/mixins" as *;
@use "../base/animations" as *;
@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
  }
}
.odBody {
  td,
  th {
    margin-left: 2vw;
  }

  h1 {
    + p {
      margin-bottom: 0.5rem;
    }
  }

  div {
    &.switchDiv {
      padding: 0.2rem 0 0.4rem 0;
    }
  }

  .contInQuadrs,
  .flexDiv.headQuadr,
  .pQuadr,
  .taTrat,
  .tratDate,
  .tratAst {
    @include form-border;
    @include form-clip;
  }

  .divSubTrat.tratMainSpan.tratNumSpan,
  .divSubTrat > *:not(.tratNumSpan).tratMainSpan.tratNumSpan,
  .flexDiv.headQuadr,
  .labelAvDent {
    align-items: center;
  }

  .inspDiv {
    @include fRW;
    margin-bottom: 0.4rem;
    .inspSpanMain {
      display: grid;
      align-items: start;
      grid-template: [checks] 1fr [obs] 3.5fr / [checkY] 1.2rem [labY] 1.8rem [checkN] 1.5rem [labN] 6ch;
      margin-left: 0.5rem;
      gap: 0.3rem;
      position: relative;
      > input {
        margin-top: 0.37rem;
      }
    }
    .inspSpanSub {
      display: grid;
      grid-area: obs / checkY;
      grid-template-rows: [btn] 0.5fr [ta] 0.5fr;
      transform: translateX(-6.5rem) translateY(0.4rem);
      textarea {
        @include sz(26rem, 1rem);
        grid-area: ta / 2;
        margin-bottom: 0.5rem;
        resize: vertical;
        @media (max-width: 460px) {
          width: 20rem;
        }
      }
      button {
        grid-area: btn / 2;
      }
    }
    br {
      display: none;
    }
  }

  .inlinebTa.taTrat,
  .inspSpanSub {
    display: inline-block;
  }

  .inspDialog[open],
  .inspDialog.modal-content[open],
  .inspList li,
  .quadrSubDiv,
  .labelAvDent {
    display: flex;
  }

  .tratHeader,
  .tratTBody,
  .tratHead,
  .tratMainSpan,
  .tratCol,
  #tratContainer {
    border-width: 0.313rem;
    border-color: transparent;
  }

  .taTrat,
  .tratDate,
  .tratAst,
  .inlinebTa.taTrat,
  .inspList,
  .taPlan,
  .tratBtn.datBtn,
  .tratBtn.astDigtBtn {
    width: 100%;
  }

  .inspList,
  .taTrat,
  .tratDate,
  .tratAst {
    height: 100%;
  }

  .tratDateSpan,
  .tratFileSpan {
    flex-direction: column;
  }

  .confirmBut {
    &:active {
      opacity: 0.5;
    }
  }

  .contInQuadrs {
    padding-bottom: 3vh;
    padding-right: 2vw;
    &.tabCelBottom {
      @include bdt0;
    }
  }

  .divSubTrat {
    margin-bottom: 3vh;
  }

  .form-control {
    &.quadrAvDent {
      font-weight: bold;
      padding: 1vw;
      &:hover {
        cursor: grab;
      }
    }
    &.tratAst {
      padding: 0.7rem;
    }
  }

  .flexDiv {
    &.headQuadr {
      justify-content: center;
      &.tabCelTop {
        @include bdb0;
      }
    }
  }

  .fsInsp {
    margin-left: 0.5rem;
  }

  .hiddenLab {
    color: transparent;
  }

  .inlinebTa {
    &.taTrat {
      min-width: 18ch;
    }
  }

  .inspBtnDialog {
    @include bdb0;
    width: 26rem;
  }

  .inspLITitle {
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    display: block;
  }

  .inspSpanSub {
    position: relative;
  }

  .inspTa {
    overflow: auto;
    resize: both;
    @include bdt0;
  }

  .inspDialog {
    &.modal-content {
      display: none;
    }
    &[open] {
      @include form-border;
      @include sz(50vw !important, 110%);
      position: absolute;
      overflow: auto;
      resize: both;
      top: -20%;
      left: 1500%;
      padding: 0.7rem 0.3rem;
    }
    .inspLITitle {
      @include fRW;
      @include SbC;
      .btn-close {
        @include szEq(0.75rem);
      }
    }
  }

  .inpAvDent {
    &::placeholder {
      opacity: 0.6;
      transition: opacity 1s ease-in;
    }
  }

  .inpAvDent {
    &.placeholder-hidden {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  .inpTrat,
  .inpTrat.inpDate,
  .inpTrat.inpAst {
    @include bdb0;
  }

  .inpTrat {
    &.inpDate {
      &.tratDate {
        @include bdb0;
      }
    }
    &.inpAst {
      @include bdb0;
    }
  }

  .inspList {
    font-weight: bold;
    padding-bottom: 5%;
    li {
      font-weight: initial;
      justify-content: space-between;
    }
  }

  .quadrSubDiv {
    flex-flow: wrap column;
  }

  .labelAvDent {
    column-gap: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
  }

  .legMain {
    font-size: 1.8rem;
    padding-bottom: 2vh;
  }

  .pQuadr {
    background-color: white;
  }

  .pQuadr,
  .flexDiv.headQuadr {
    @include bdb0;
  }

  .quadrAvDent {
    touch-action: none;
    &.contInQuadrs {
      @include bdt0;
      transform: translateY(-0.06rem);
    }
    &.quadrMainDiv {
      border-radius: 0;
    }
  }

  .radOp {
    opacity: 0.3;
    &:checked {
      opacity: 1;
    }
  }

  .resetBut {
    width: 100%;
  }

  .switchDiv {
    margin-left: 0;
  }

  .taTrat {
    height: 100%;
    padding-bottom: 1.3rem;
    transform: translateY(0.2rem);
  }

  .tratBtn {
    white-space: nowrap;
  }

  .tratButSpan {
    padding-left: 1vw;
  }

  .tratDateSpan {
    min-width: 12ch;
  }

  .tratDiv {
    overflow: auto;
  }

  .tratBtn {
    @include bdt0;
  }

  .tratNumSpan {
    padding-right: 2vw;
    max-width: 3ch;
  }

  .tratTypeSpan {
    @include stkW(45vw);
  }

  #divMainSupDir {
    grid-area: 1 / 1 / 2 / 2;
  }

  #divMainInfEsq {
    grid-area: 1 / 2 / 2 / 3;
  }

  #divMainSupEsq {
    grid-area: 2 / 1 / 3 / 2;
  }

  #divMainInfDir {
    grid-area: 2 / 2 / 3 / 3;
  }

  #fsAnamGId {
    margin-left: 0;
    hr:last-of-type {
      margin-top: 2rem;
    }
    input {
      min-width: 25vw;
    }
  }

  #fsAvDentId,
  #fsPlanId {
    margin-left: 0.75rem;
  }

  #fsTratId {
    margin-left: 0.5rem;
  }

  #fsInspBocFacId {
    margin-left: 0.6rem;
    #fsInspBocFacLeg {
      margin-left: 0.3rem;
    }
    legend {
      &:not(#fsInspBocFacLeg) {
        margin-bottom: 0.5rem;
      }
    }
  }

  #fsRelTratLeg {
    padding-bottom: 0rem;
    flex-wrap: column nowrap !important;
  }

  #headerDatBtn {
    white-space: pre;
  }

  #tratContainer {
    border-collapse: separate;
    overflow-x: auto;
    min-width: 0;
  }

  #sectAvDentId {
    display: grid;
    grid: auto auto / auto auto;
    text-align: center;
  }

  #tipsBtn {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .odBody {
    div {
      &.switchDiv {
        padding: 1rem 0 0.4rem 0;
      }
    }

    span {
      &.form-switch {
        padding-left: 4rem;
      }
    }

    .switchDiv {
      margin-left: -1.2vw;
    }

    .inspDialog[open] {
      width: 110%;
    }

    .inspList {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }

    .inspLI {
      @include fCNoW;
      padding-bottom: 2vh;
    }

    .inspLIBtn {
      margin-top: 1vh;
    }

    .tratButSpan {
      padding-left: 1vw;
    }

    #confirmAstDigtBtn {
      margin-right: 0;
    }

    #divMainSupDir {
      grid-area: 1 / 1 / 2 / 3;
    }

    #divMainInfEsq {
      grid-area: 2 / 1 / 3 / 3;
    }

    #divMainSupEsq {
      grid-area: 3 / 1 / 4 / 3;
    }

    #divMainInfDir {
      grid-area: 4 / 1 / 5 / 3;
    }

    #sectAvDentId {
      grid-template-rows: repeat(4, 1fr);
      max-width: 92vw;
      padding-left: 2vw;
    }
  }
}
@media screen and (max-width: 460px) {
  .odBody {
    .inspSpanSub {
      button {
        width: 20rem !important;
      }
    }
    #confirmDatBtn {
      min-width: 16.8ch;
    }
    #headerDatBtn {
      font-size: 0.9rem;
    }
    #sectAvDentId {
      transform: translateX(-0.375rem);
    }
  }
}
@media screen and (max-width: 413px) {
  .odBody {
    #tratButSpan1 {
      margin-right: 40vw;
      margin-left: 3vw;
    }
  }
}
