$swhite: rgba(255, 255, 255, 0.8);
$inpGenWidFix: calc(0.4rem + 76.5vw);
$inpProgWidFix: 14.7rem;
$inpRotWidFix: 25.75rem;
$firstColProgMargR: 0.5rem;
$radioSpacing: 0.8rem;
$scyan: #0addf519;
$stcyan: #0addf5e5;
$swhite: #ffffffcc;
$base900InpWidth: 38.7rem;
$baseMax750InpWidth: 85vw;
$base900InpWidth: 38.7rem;
$baseVw900InpWidth: 85vw;
$baseNullable900InpWidth: 28rem;
$baseNullableVw900InpWidth: 70vw;
$primary-alert: rgb(18, 14, 6);
$secondary-alert: firebrick;
$tert-alert: orangered;
$max-alert: red;
$ht721: 100vh;
