/* Login Page Styles */
@use "../abstracts/variables" as *;
@use "../base/root" as *;
@supports (scrollbar-width: thin) {
  * {
    &:not(:has(header)) {
      scrollbar-width: thin;
    }
  }
}
.loginBody {
  background-size: cover;
  background-position: center 50%;
  box-sizing: inherit;
  line-height: 1.4286;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 0.875rem;
  width: 100vw;
  height: 120vh;
  button {
    &:hover {
      transform: translate(0, 0.1rem);
    }
    &:active {
      transform: translate(0, 0.2rem);
    }
  }
  #bgDiv {
    border: none;
    background-color: rgba(255, 255, 255, 0.97);
    padding: 0;
    margin: 0;
  }
  #logoCont {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    min-width: 100%;
    min-height: 16vh;
    width: 100%;
    padding-bottom: 3vh;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  #logo {
    width: 14rem;
    height: 7rem;
    aspect-ratio: 2 / 1;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    @media (max-width: 499px) {
      width: 12rem;
      height: 6rem;
    }
  }
}
