@use "../abstracts/mixins" as *;
.bgDiv {
  @include noSpace;
  border: none;
  background-color: rgba(255, 255, 255, 0.97);
}
.button {
  &:hover {
    transform: translate(0, 0.1rem);
  }
  &:active {
    transform: translate(0, 0.2rem);
  }
}
.customValidityWarn {
  @media screen and (max-width: 460px) {
    margin-left: 6.5%;
  }
}
.headerCont {
  text-align: center;
}
.inputCont {
  vertical-align: top;
  width: 100%;
  margin: auto;
  white-space: nowrap;
  display: inline-block;
  font-size: 0.875rem;
  padding: 1.5rem 0 0;
  white-space: normal;
}
.loginBtnCont {
  @include flAlItCt;
  width: 70%;
  margin-block: 1rem;
  margin-inline: auto;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 3vh;
  @media screen and (max-width: 460px) {
    margin-inline: 0;
    width: 70%;
    @include fRW;
    padding-left: 14vw;
  }
}
.loginCont {
  @include minSizeB(33.6rem, 70vh);
  @include sz(33.6rem, auto);
  overflow: hidden;
  overflow-y: auto;
  padding: 3rem 2.5rem 2.25rem;
  margin: 0 auto;
  border: 0.0625rem solid #dadce0;
  border-radius: 0.5rem;
  transition: all 0s ease 0.2s;
  background: #fff;
  @media screen and (max-width: 900px) {
    min-width: 260px;
  }
  @media screen and (max-width: 460px) {
    height: 89vh;
    padding-right: 12.5%;
    padding-inline: 0;
  }
}
.loginInputCont1 {
  margin: auto 0;
  margin-top: 0;
  padding-inline: 2.5rem;
  &:has(svg) {
    padding-left: 2.6rem;
    padding-right: 0.7rem;
  }
  @media screen and (max-width: 460px) {
    padding-inline: 1.4rem 3rem;
    &:has(svg) {
      padding-inline: 1.5rem;
      .loginInputCont2 {
        width: 101%;
      }
    }
  }
}
.loginInputCont2 {
  @include flAlItCt;
  @include sz(100%, 3.5rem);
  flex: 1;
  position: relative;
  vertical-align: top;
  box-sizing: content-box;
  padding: 0.5rem 0 0;
  margin-top: 0;
}
.loginInputCont3 {
  @include fRNoW;
  @include SbC;
  padding: 0;
}
.main {
  width: 100vw;
}
.outerLoginCont {
  @include fCt;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  &::after,
  &::before {
    display: block;
    content: "";
    height: 1.5rem;
  }
  &::before {
    min-height: 1.875rem;
  }
  @media screen and (max-width: 900px) {
    flex-direction: row;
    @include maxSizeB(100vw, 100vh);
  }
}
.pw {
  width: 100%;
  border: none;
}
.recover {
  font-weight: 600;
  font-size: 0.9rem;
}
.spanShowPw {
  padding-inline: 2vw;
  border-bottom-right-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
  background-color: transparent;
  border-color: transparent;
  border-left: var(--bs-border-width) solid var(--bs-border-color);
}
.submitBtn {
  height: fit-content !important;
}
.subtitleText {
  padding-bottom: 0.625rem;
  padding-top: 0.4375rem;
  margin-block: 0;
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  font-size: 1rem;
}
.titleCont1 {
  text-align: center;
}
.titleCont2 {
  padding-bottom: 0.75rem;
}
.titleText {
  padding-bottom: 0;
  padding-top: 1rem;
  color: rgb(32, 33, 36);
  font-size: 1.5rem;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-weight: 400;
  line-height: 1.3333;
  margin-block: 0;
  word-break: break-word;
}
.userInput {
  display: block;
  margin: 0.0625rem;
  line-height: 1.5rem;
  outline: none;
  overflow: auto;
}
