/* AG Page Styles */

@mixin formCheckOpaque {
  opacity: 0.3;
  margin-right: 0.4rem;
  &:checked {
    opacity: 1;
    accent-color: mintcream;
    &.form-check-input {
      background-color: mintcream;
      border-color: mintcream;
    }
  }
}

@supports (scrollbar-width: none) {
  * {
    scrollbar-width: thin;
  }
}

.agBody {
  div {
    &.switchDiv {
      padding: 2.5vh 0 0.75vh 0;
    }
  }

  label {
    &[for="qxPrinc"],
    &[for="histDc"] {
      margin-bottom: 0.5rem;
    }
    &[for="dateBdayId"] {
      width: 88%;
    }
  }

  [type="checkbox"] {
    accent-color: rgba(0, 128, 0, 0.836);
  }

  $primary-alert: darkgoldenrod;
  $secondary-alert: firebrick;
  $tert-alert: orangered;
  $max-alert: red;
  [type="checkbox"],
  [type="radio"] {
    &#HASPreId,
    &#fumoLeveId {
      accent-color: $primary-alert;
    }
    &#HASStg1Id,
    &#fumoModId {
      accent-color: $secondary-alert;
    }
    &#HASStg2Id,
    &#fumoAltoId {
      accent-color: $tert-alert;
    }
    &#HASStg3Id {
      accent-color: $max-alert;
    }
    &.form-check-input {
      &:checked {
        &#HASPreId,
        &#fumoLeveId {
          background-color: $primary-alert;
          border-color: $primary-alert;
        }
        &#HASStg1Id,
        &#fumoModId {
          background-color: $secondary-alert;
          background-color: $secondary-alert;
        }
        &#HASStg2Id,
        &#fumoAltoId {
          background-color: $tert-alert;
          background-color: $tert-alert;
        }
        &#HASStg3Id {
          background-color: $max-alert;
          background-color: $max-alert;
        }
      }
    }
  }

  .antMedBlock,
  .antMedContainer,
  .antMedDiv,
  .antMedLabel,
  .antMedText,
  .divAntMedSpan,
  .divAntMedSubSpan {
    display: flex;
  }

  .antMedBlock,
  .antMedContainer,
  .spanSubAntMedText {
    flex-direction: row;
  }

  .antMedBlock,
  .antMedDiv,
  .antMedLabel,
  .divAntMedSubSpan,
  #antMedBtnsDiv {
    align-items: center;
  }

  .antMedText,
  .pbAlmSpan {
    vertical-align: middle;
  }

  .countAntMed,
  #addAntMedId {
    font-weight: bold;
  }

  .divAdd {
    border-radius: 0.5rem;
    min-width: 20vw;
    overflow: auto;
    input {
      &[type="checkbox"] {
        accent-color: mintcream;
      }
    }
    &.divAntFam {
      padding: 2%;
      border: 0.125rem groove #49505726;
    }
    &.divAntFamCheck {
      column-gap: 6%;
      min-width: 85%;
      border: 0.125rem groove #49505726;
      input {
        &[type="checkbox"] {
          &:not(:checked) {
            opacity: 0.3;
          }
          &:checked {
            opacity: 1;
          }
        }
      }
    }
    &:not(.divAntFam) {
      margin-block: 0.5rem;
      padding: 1rem;
    }
    &:not(textarea) {
      border: groove grey 0.125rem;
      border: 0.125rem groove #49505726;
    }
    &.gridTwoCol {
      column-gap: 5%;
    }
    &#divAddHep {
      min-width: 80vw;
      padding-bottom: 1.5rem;
    }
  }

  .numNullId {
    &.form-check-input {
      margin: 0;
      padding-left: 1vw;
      transform: translate(-3px, -1px);
    }
    &:hover {
      cursor: url(../../../public/img/exclamation.svg) 4 12, auto;
    }
  }

  .spanSubAntMedText,
  #divFreqOdont,
  #fsAnamGRadSectId {
    justify-content: space-between;
  }

  #autoCompCepBtn {
    &:enabled {
      background-color: blue;
      &:hover {
        animation: highlightBtn 2s infinite;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.3;

      &:hover {
        background-color: orangered;
      }
    }
  }

  #fsAnamGSpan13,
  #fsAnamGSpan14 {
    grid-column: 2 / span 1;
  }

  .antMedDateDiv {
    align-items: center;
    justify-content: space-evenly;
    column-gap: 0.7rem;
  }

  .antMedDiv {
    width: 80%;
  }

  .antMedText {
    margin-left: 5%;
  }

  .antMedDate,
  .atualTratBtn {
    margin-right: 2%;
    margin-left: 2%;
  }

  .inpDate.inpAntMed.antMedDate[id*="End"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .atualTratBtn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
    transform: translateX(-1.8rem) translateY(0.027rem) scale(1.07);
  }

  .btn {
    &.biBtn {
      &.countAntMed {
        width: 1.25rem;
        height: 1.5rem;
        margin-bottom: 0.25rem;
        margin-right: 0;
        transform: scale(1);
      }
    }
  }

  .divAntFamCheck {
    transition: opacity 0.5s ease-in-out;
  }

  .divAntMedSpan {
    flex-flow: column;
    height: 20%;
    width: 50%;
  }

  .divAntMedSubSpan {
    padding: 3%;
  }

  .fsAnamGSpan {
    &.locSpan {
      padding-top: 1vh;
      column-gap: 0;
      align-items: start;
      :first-child {
        &:not([class*="form-"]) {
          margin-left: 1vw;
        }
        &:is(.form-check-input) {
          margin-left: 0.5vw;
        }
      }
    }
  }

  .fsAGRadDiv,
  .sectFreqSubSpan {
    &:has(input[type="radio"]) {
      row-gap: 0.5vh;
      margin-bottom: 0.5rem;
      .radNo,
      #pbAlmNo {
        margin-inline: 0.8rem;
        transform: scale(1.3) translateY(0.05rem);
        opacity: 0.4;
        &:not(#pbAlmNo) {
          margin-top: 0.3rem;
        }
        &:checked {
          opacity: 1;
        }
      }
    }
  }

  .halfSpanCheck {
    &.halfR {
      height: 2.4rem;
      margin-top: 0.1vh;
      &:has(#streetNumNullId) {
        height: 2.4rem;
      }
    }
  }

  .inpLocNum {
    min-width: 8rem;
    width: calc(0.05rem + 17.25vw);
    padding-right: 10%;
  }

  .labelIdentif {
    min-width: 90%;
  }

  .labDlist {
    margin-bottom: 0.7vh;
  }

  .radFumo,
  .opFumSubs {
    @include formCheckOpaque;
  }

  .spanMainFsAnamGRad {
    ~ .divAdd {
      min-width: 60vw;
      input {
        &[type="checkbox"],
        &[type="radio"] {
          &:not(:checked) {
            opacity: 0.3;
          }
          &:checked {
            opacity: 1;
          }
        }
      }
    }
  }

  .taOp {
    width: 61.5vw;
  }

  #divAddFamDiab {
    .divAntFamCheck {
      width: 99%;
      margin-left: 0.1rem;
    }
  }

  #divAddGrv {
    width: 61.5vw;
    input {
      @include formCheckOpaque;
      transform: translateY(0.04rem);
      &:not(:first-of-type) {
        margin-left: 0.6rem;
      }
    }
  }

  .spanAntMedDate {
    width: 100%;
  }

  #autoCompCepBtn {
    margin-left: 0.07rem;
  }

  #antMedBtnsDiv {
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    column-gap: 0;
  }

  #compNumId {
    padding-bottom: 0.4rem;
  }

  #confirmId {
    margin: 0.25rem 0 0 0.7rem;
  }

  #dateBdayId {
    min-width: 23.4vw;
  }

  #divAddFamDislip {
    margin-left: 0;
    padding-left: 1rem;
    #divSubtypeDislip {
      padding-left: 0;
    }
  }

  #divAddFumo {
    min-width: 70vw;
    overflow: auto;
    border: 0.125rem groove #49505726;
    .spanSubFsAnamGRad,
    .labFum {
      padding-left: 0.2rem;
    }
  }

  #divAddHiv {
    padding-bottom: 2rem;
    padding-right: 1.5rem;
  }

  #divFreqOdont {
    grid-template-columns: 1fr 1fr;
    width: 60%;
    column-gap: 5%;
  }

  #divIdentif_2 span {
    min-width: 19.62rem;
  }

  #fsAnamGDiv2 {
    width: 63.5%;
  }

  #fsAnamGDiv3 {
    width: 75%;
    input:not([type="radio"]):not([type="checkbox"]),
    select {
      min-width: 5rem;
    }
    #streetNumId,
    #compNumId {
      width: 13.3rem;
    }
  }

  #fsAnamGDiv4 {
    width: 60%;
    display: flex;
    justify-content: left;
    column-gap: 10.2%;
    #fsAnamGSpan11 {
      margin-right: 0;
    }
    .labelIdentif {
      min-width: 25vw;
    }
  }

  #fsAnamGSpan8 {
    grid-row: 3 / 5;
    transform: translateY(0.85rem);
  }

  #fsAnamGSpan9 {
    transform: translateY(-3rem);
  }

  #fsAnamGSpan11 {
    grid-column: 2;
    grid-row: 2;
  }

  #fsAnamGSpan13 {
    grid-row: 4;
  }

  #fsAnamGSpan14 {
    grid-row: 5;
  }

  #fsAnamGRadSectId {
    padding-left: 0.5%;
  }

  #fsAnamGSect {
    hr {
      margin-top: 2rem;
      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }
    }
    + hr {
      margin-top: 2rem;
    }
  }

  #fsSdGeralSect,
  #fsAntFamSect {
    hr:last-of-type,
    + hr {
      margin-top: 2rem;
    }
  }

  #genDiv {
    column-gap: 10.2%;
  }

  #hivCargId {
    height: 2.5rem;
  }

  .sectionConfirm,
  #fsAntMedId {
    overflow: auto;
    max-width: 100vw;
    margin-bottom: 2vh;
  }

  #spanFsAnamG16 {
    padding-left: 0;
  }

  #statusPac {
    width: 90%;
  }

  #tempFum {
    transform: translateY(-2rem);
  }

  #textAddOtherDId {
    width: 100%;
  }

  #UFId {
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .agBody {
    #fsAnamGDiv4 {
      min-width: 66vw;
    }
  }
}

@media screen and (min-width: 901px) {
  .agBody {
    .addAntMed {
      margin-right: 0.5rem;
    }
    #labHivCarg {
      margin-top: 0.5rem;
    }
  }
}

$base900InpWidth: 38.7rem;
$baseVw900InpWidth: 85vw;
$baseNullable900InpWidth: 28rem;
$baseNullableVw900InpWidth: 70vw;

@media screen and (max-width: 900px) {
  .agBody {
    .antMedBlock,
    .antMedBlock.spanMain,
    .antMedContainer,
    .antMedBtnsDiv {
      display: flex;
    }

    .antMedContainer {
      align-content: top;
      align-items: start;
    }

    .antMedDiv {
      width: 100%;
      box-sizing: unset;
      text-align: center;
    }

    .antMedBtnsDiv,
    .antMedDiv,
    .spanSubAntMedDate {
      flex-wrap: nowrap;
    }

    .antMedBtnsDiv {
      flex-direction: column;
    }

    .antMedBlock {
      padding: 0 0 1% 0;
      overflow: auto;
      column-gap: 1vw;
      scrollbar-width: thin;
    }

    .atualTratBtn {
      transform: translateX(-1.1rem) scale(1.057);
    }

    .gridThreeCol {
      &#divOtherD {
        max-width: 68.75rem;
      }
    }

    .numNullId {
      &.form-check-input {
        transform: translate(-2px, 0);
      }
    }

    .spanAntMedText {
      .antMedLabel,
      .antMedLabel.antMedText {
        height: 100%;
      }
    }

    .spanAntMedDate {
      width: 50%;
      .spanSubAntMedDate {
        flex-direction: row;
        padding: 0;
        &.antMedBtnsDiv {
          justify-content: space-between;
          justify-self: right;
          width: 15%;
          padding-top: 5%;
          &.removeAntMed {
            margin-top: 67%;
            margin-bottom: 67%;
          }
        }
      }

      input[type="date"]:not([data-title*="data_ini"]),
      .datBtn {
        margin-right: 0;
        margin-bottom: 1%;
        margin-top: 1%;
      }
      input[type="date"],
      .datBtn {
        width: 90%;
      }
    }

    .spanAntMedDate,
    .spanSubAntMedDate {
      justify-content: start;
    }

    .spanAntMedDate,
    #fsAnamGRadODSectId,
    #divOtherD {
      display: flex;
      flex-wrap: nowrap;
    }

    .spanAntMedDate,
    #fsAnamGDiv1,
    #fsAnamGRadODSectId,
    #fsAntMedLeg,
    #divOtherD {
      flex-direction: column;
    }

    .switchDiv {
      margin-left: -1.2vw;
      margin-bottom: 0.5rem;
    }

    #antMedBtnsDiv {
      display: flex;
      padding: 0.3rem 0 0 0;
      transform: translateX(-0.4rem);
    }

    #confirmAstDigtBtn {
      margin-right: 0;
    }

    #dateAgeId {
      width: $base900InpWidth;
      min-width: 25vw !important;
      max-width: 36ch;
    }

    #dateBdayId {
      min-width: $base900InpWidth;
    }

    #fsAnamGDiv1,
    #divIdentif_2,
    #fsAnamGDiv2,
    #fsAnamGDiv3,
    #genDiv {
      input {
        &:not([id*="street"]):not([id*="compNum"]) {
          width: $base900InpWidth;
          min-width: $baseVw900InpWidth;
          max-width: $baseVw900InpWidth;
        }
        &#streetId {
          min-width: $baseVw900InpWidth;
          max-width: $baseVw900InpWidth;
        }
        &#streetNumId,
        &#compNumId {
          min-width: 93%;
          max-width: 93%;
        }
      }
      select {
        width: $base900InpWidth;
        min-width: $baseVw900InpWidth;
        max-width: $baseVw900InpWidth;
      }
      span {
        &.halfR {
          &:has(#streetNumNullId),
          &:has(#compNumNullId) {
            min-width: 3rem;
            max-width: 7.3%;
          }
        }
      }
      .spanLoc {
        min-width: $baseVw900InpWidth + 2.2vw;
        max-width: $baseVw900InpWidth + 2.2vw;
      }
    }

    #fsAnamGSpan6,
    #fsAnamGSpan16 {
      order: 1;
    }

    #fsAnamGSpan7,
    #fsAnamGSpan17 {
      order: 2;
    }

    #fsAnamGSpan8,
    #fsAnamGSpan18 {
      order: 3;
    }

    #fsAnamGSpan9,
    #fsAnamGSpan19 {
      order: 4;
    }

    #fsAnamGSpan10,
    #fsAnamGSpan20 {
      order: 5;
    }

    #fsAnamGSpan11,
    #fsAnamGSpan21 {
      order: 6;
    }

    #fsAnamGSpan12,
    #fsAnamGSpan22 {
      order: 7;
    }

    #fsAnamGSpan13,
    #fsAnamGSpan23 {
      order: 8;
    }

    #fsAnamGSpan14 {
      order: 9;
    }

    #fsAnamGSpan13,
    #fsAnamGSpan14 {
      width: 85%;
      padding: 0;
      margin-left: 1%;
    }

    #fsAnamGSpan9 {
      transform: translateY(-1rem);
    }

    #divFreqOdont {
      width: 90%;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 460px) {
  .agBody {
    #fsAnamGDiv3 {
      input {
        &#streetNumId,
        &#compNumId {
          min-width: 92.7%;
          max-width: 90vw;
        }
      }
      span {
        &.halfR {
          &:has(#streetNumNullId),
          &:has(#compNumNullId) {
            min-width: 3rem;
            max-width: 7.3%;
          }
        }
      }
      .spanLoc {
        min-width: $baseVw900InpWidth;
        max-width: $baseVw900InpWidth;
      }
    }
  }
}
