.ageInp {
  @media screen and (min-width: 901px) {
    transform: translateX(-2.7vw);
    max-width: 25vw !important;
  }
}
.birthInp {
  @media screen and (min-width: 901px) {
    width: 27vw !important;
  }
}
.inpEvac {
  @media screen and (min-width: 901px) {
    width: 25.75rem;
  }
}
