/* EN Page Style */
@use "../abstracts/variables" as *;
@use "../base/root" as *;
@use "../abstracts/mixins" as *;
.edfisNutBody {
  *:not(table) {
    scrollbar-width: thin;
  }
  button {
    @include btn-secondary-styles;
  }
  fieldset {
    &:not(#fsProgConsId) {
      + hr,
      > hr {
        max-width: 93vw;
        min-width: 93vw;
        width: 93vw;
      }
    }
  }
  input {
    &[type="button"] {
      @include btn-secondary-styles;
    }
    &[type="date"] {
      &.form-control {
        &.tabInpComorb {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    &[type="radio"] {
      &:not(.form-check-input) {
        margin-right: $radioSpacing;
        + label {
          &:first-of-type {
            margin-right: $radioSpacing;
          }
        }
        &:not(.opProtUr) {
          transform: scale(1.3) translateY(0.05rem);
        }
        opacity: 0.4;
        &:checked {
          opacity: 1;
        }
      }
    }
  }
  label {
    font-weight: 500;
    &.form-control {
      text-align: end;
    }
    &[for="inpDiur"] {
      &.form-control {
        box-shadow: none;
        max-width: 100%;
        justify-content: flex-start;
      }
      .inpUr {
        max-width: 45vw;
      }
      .msrProgCons {
        max-width: 35vw;
      }
    }
  }
  table {
    width: 100%;
    caption {
      caption-side: top;
      font-weight: bold;
      align-content: center;
      vertical-align: middle;
      flex-wrap: wrap;
      white-space: normal;
      width: 100%;
      padding: 0;
      margin-bottom: 0.5rem;
      font-size: calc(1.275rem + 0.3vw);
      line-height: inherit;
      padding-inline-start: 2px;
      padding-inline-end: 2px;
    }
    td {
      text-align: center;
      &:has(.tabInpProgSomaDCut) {
        min-width: 15rem;
      }
      @media screen and (min-width: 901px) {
        .tabCelIndPerc {
          &:has(label[id*="labImc"]) {
            .indMsr {
              padding-right: 1.4rem;
            }
          }
        }
      }
    }
    &.tabProgCons {
      td,
      th,
      tr,
      tbody,
      thead,
      tfoot {
        border-style: solid;
      }
    }
    @media screen and (max-width: 900px) {
      max-width: 90vw;
    }
  }
  label.form-control,
  span.form-control,
  .biBtn:is(.countAtFis),
  .form-control.tabInpProgIndPerc,
  .divLock,
  .legAtFis,
  .lockTabInd,
  .spanLock,
  #fsComorbLeg {
    display: flex;
    &:not(#fsComorbLeg) {
      align-items: center;
    }
  }
  label.form-control,
  span.form-control,
  .form-control.tabInpProgIndPerc,
  .divLock,
  .lockTabInd,
  .spanLock {
    justify-content: space-between;
  }
  .divLock {
    background-color: transparent;
    padding-right: 2%;
    padding-left: 2%;
    svg {
      line {
        stroke: grey;
      }
      path {
        &.svg-lock-hook,
        &.svg-unlock-hook {
          fill: grey;
        }
        &.svg-lock-body,
        &.svg-unlock-body {
          stroke: grey;
          fill: url(#gradiente-lock);
        }
      }
    }
  }
  .form-control.tabInpProg,
  .form-select.lockSelect,
  #protUrLvl {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .inpRefDia,
  .inpAgua,
  .inpUrDia,
  #inpElimUrCor,
  #inpElimEvDiaMax {
    min-width: $inpRotWidFix;
  }
  .consInp,
  :where(.form-select.labelIdentif),
  .inpAlimRot,
  .inpIdentif {
    margin-top: 1vh;
  }
  .fsAnamGSpan {
    .labelIdentif {
      max-width: 100%;
    }
  }
  .flexDiv {
    &.divRot {
      + hr {
        margin-block: 1.5rem;
        margin-left: 0.5rem;
        width: 93vw;
      }
    }
  }
  .form-control {
    &.tabInpProg:not(.tabInpProgSumDCut) {
      min-width: 10vw;
    }
    &.tabInpProgSumDCut {
      min-width: 8ch;
    }
    &.tabInpProgIndPerc {
      width: 88%;
    }
    &.tabLabProgCons {
      min-width: 10rem;
    }
    &.tabLabProg,
    &.tabLabProgCons,
    &.labUr {
      border: none;
      border-color: transparent;
      padding: 0;
      &#labDiur {
        box-shadow: 0 0 0 0 transparent;
        width: 1rem;
        background-color: transparent;
      }
    }
  }
  .legAtFis,
  .tabAtFis,
  .tabLegProgCons,
  label[for="inpElimUrCor"] {
    white-space: nowrap;
  }
  .tabLabRowDCut9 {
    border-top-right-radius: 5vw;
  }
  .tabRowComorb {
    width: 90vw;
    .tabCelComorb {
      &[id$="_1"] {
        max-width: 1.5ch;
        padding-right: 0;
        + td {
          padding-left: 1rem;
          min-width: 60vw;
        }
      }
      input {
        &[type="date"] {
          max-width: 21vw;
        }
      }
    }
    .tdNum {
      vertical-align: middle;
    }
  }
  .tabRowProgCons {
    .tabCelProgCons {
      &[id$="_1"] {
        max-width: 15ch;
      }
    }
  }
  .lockTabInd {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include goldenLock;
  }
  .spanLock {
    @include goldenLock;
  }
  .switchDiv {
    ~ hr {
      width: 93vw;
      margin-left: 0.5rem;
    }
  }
  #divTabDobrCut,
  #divTabMedAnt,
  #divTabSVi,
  #fsHabRotId,
  div:has(#tabAtFisRot) {
    ~ hr {
      width: 93vw;
      margin-left: 0.5rem;
      opacity: 0.25;
    }
  }
}
@media screen and (min-width: 901px) {
  #inpElimUrDiaMin,
  #inpElimUrIntervaloMin,
  #inpElimEvDiaMin,
  #inpElimEvIntervaloMin {
    width: 100%;
    max-width: 50vw;
  }
}
@media screen and (max-width: 900px) {
  .edfisNutBody {
    label {
      &[for="inpElimUrIntervaloMax"] {
        padding-left: 1rem;
        margin-left: 0.05rem;
        transform: translateX(-5px);
      }
    }
    tr {
      max-width: 90vw;
    }
    .btn {
      &.btn-secondary {
        &:not(:has(svg)):not(.datBtn) {
          margin-bottom: 0.05rem;
          &.tabBtnSum {
            height: 2.4rem;
          }
          &.tabBtnInd {
            height: 2.43rem;
          }
        }
      }
    }
    .form-control {
      &#labDiur {
        width: 70vw;
        min-width: 70vw;
      }
    }
    .form-control.tabInpProg,
    .form-control.tabLabProgCons,
    #bgDiv {
      width: 100%;
    }
    .inpUrInterval {
      max-width: unset;
    }
    .lockTabInd {
      width: 115%;
    }
    .tabCelIndPerc {
      &:has(.bi) {
        > div {
          padding-right: 0.45rem;
        }
      }
      .tabBtnInd {
        transform: scale(1.04) translateY(0.7px);
      }
    }
    .tdInpComorb {
      grid-row: span 1;
      grid-column: span 2;
    }
    [id^="sumDCBtn"] {
      transform: translateY(1.3px);
    }
  }
}
@media screen and (max-width: 460px) {
  .edfisNutBody {
    .inpAlimRot,
    .inpRefDia,
    .inpUrDia {
      min-width: unset;
    }
    #inpElimEvDiaMax {
      min-width: unset;
    }
  }
}
