/* Panel Page Style */
@use "../abstracts/variables" as *;
@use "../base/root" as *;
@use "../base/animations" as *;
@use "../abstracts/mixins" as *;
@supports (scrollbar-width: thin) {
  * {
    &:has(header) {
      scrollbar-width: thin;
    }
  }
}

body {
  &.panelBody {
    background-size: cover;
  }
}

.panelBody {
  div {
    &:nth-child(2) {
      &:is([disabled]) {
        &:hover {
          cursor: url(../../../public/img/exclamation.svg), auto !important;
        }
      }
    }
  }

  input {
    &.form-control {
      &.noMargin {
        min-width: 20ch;
      }
    }
  }

  section {
    &:has(#nameLogin) {
      &.form-control {
        margin-block: 0.15rem;
      }
    }
  }

  td {
    font-weight: initial;
  }

  .appointmentBtn {
    touch-action: none;
    @if (box-sizing: "border-box") {
      max-width: 16.505875rem;
    } @else {
      max-width: 20rem;
    }
  }

  .bi {
    &:not(.btn-close) {
      @include szEq(unset);
    }
    &.btn-success {
      font-weight: bold;
    }
    &.btn-warning {
      font-weight: 200;
    }
    &:is([class*="exclamation"]) {
      @include minSizeB(0, 0);
    }
  }

  .btn {
    &.btn-close {
      &:not(.reduced-btn-close) {
        @include minSizeB(1rem, 1rem);
      }
    }
  }

  .btnAffectRegst {
    &:hover {
      &:not(.tipBtn) {
        &:is(.btn-danger) {
          animation: giveOpacity 2s ease-in-out;
        }
      }
    }
    &.btn {
      @include sz(100%, fit-content);
      display: block;
      font-size: 0.875em;
    }
  }

  .reduced-btn-close {
    @include maxSizeB(0.1em, 0.1em);
  }

  .table {
    .thead-dark {
      th {
        color: #ffffff;
        background-color: #212529;
        border-color: #959799;
      }
    }
    > :not(caption) {
      > * {
        > * {
          &:is(.alocCel) {
            padding-left: 1vw;
          }
        }
      }
    }
    &.table-hover {
      &:hover {
        border-width: 0 var(--bs-border-width);
      }
    }
  }

  .transfArea {
    margin-right: 5vw;
    max-width: 80vw;
    align-self: center;
  }

  [class*="form-"] {
    margin-bottom: 2vh;
    &.redMg {
      margin-bottom: 0.9vh;
      margin-top: 0.5vh;
    }
  }

  [class*="outputAv"] {
    text-align: center;
  }

  [for*="newValueOpt"],
  #btnConfirmFieldOpt {
    margin-bottom: 1rem;
  }

  #addAppointBtn,
  #regstDaySubDiv {
    &:enabled {
      &:hover {
        transform: translate(0, 0.1rem);
      }
      &:active {
        transform: translate(0, 0.2rem);
      }
    }
  }

  #autofillDivCons {
    padding-right: 0;
  }

  #btnExport {
    width: 50%;
  }

  #btnSubmitNewStud,
  #btnSubmitNewProf {
    + #btnExport {
      width: 100%;
      margin-right: 0;
    }
  }

  #confirmDayMainDiv {
    > div {
      &:has(#labConfirmDay) {
        transform: translate(0, 0.3rem);
      }
    }
  }

  #deactAutocorrectBtnStud,
  #deactAutofilltBtnStud,
  #deactAutocorrectBtnProf,
  #deactAutofilltBtnProf,
  #deactAutocorrectBtnCons,
  #deactAutofilltBtnCons {
    margin-right: 0.3rem;
  }

  #formAddStud,
  #formAddProf {
    padding-inline: 1vw;
  }

  #formBodySchedSect,
  #sectPacsTab,
  #sectProfsTab,
  #sectStudsTab {
    @include minWD(unset !important, unset !important);
    height: 100% !important;
  }

  #formHSchedSect,
  #coordPanelSelect {
    padding-right: 0.5rem;
  }

  #formSched {
    #btnExport {
      width: 100%;
    }
  }

  #headFieldsHead {
    margin-bottom: 0.5rem;
  }

  #hourDayInp,
  #consHourDayInp {
    transition: color 1s ease-in-out, border 1s ease-in-out;
  }

  #pacDiv {
    @include minSizeB(0 !important, 0 !important);
  }

  #profileIconImg {
    margin-left: 0.2rem;
  }

  #sectUserInfo {
    border: transparent;
    box-shadow: none;
    padding: 0.1rem;
    padding-right: 0.25rem;
  }

  #tipsBtn {
    transform: translate(0, -0.9rem);
  }

  #titlePanelSelect {
    margin-bottom: 0.3rem;
  }

  #wrapperUserInfo {
    margin-left: 2vw;
    animation: slideUserInfo 1s ease-in;
    * {
      animation: fadeIn 0.5s ease-in;
    }
  }
}

@media screen and (max-width: 900px) {
  .panelBody {
    #confirmDayMainDiv {
      > div {
        &:has(#labConfirmDay) {
          transform: translate(0, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .panelBody {
    #regstPacDlg {
      .form-switch {
        padding-left: 2.7rem;
        &:first-of-type {
          margin-top: 0.5rem;
          margin-bottom: 0.05rem;
        }
        &:last-of-type {
          margin-block: 0;
        }
      }
      .btn {
        &.btn-close {
          align-self: flex-start;
          margin: 0.5rem 0.5rem 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .panelBody {
    #regstPacDlg {
      > div {
        width: 83vw;
        max-width: unset;
      }
      .btn {
        &.btn-close {
          align-self: flex-start;
          margin: 0.5rem 0.5rem 0 0;
        }
      }
      #alocStudDiv,
      #cpfBodyDiv,
      #firstNamePacBody {
        margin-bottom: 0.75rem;
      }
      #respTitledInpDiv {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .panelBody {
    header {
      div {
        &:has(#tipsBtn) {
          flex-flow: row wrap;
          #tipsBtn {
            transform: translate(4px, 9px);
          }
        }
      }
      h1 {
        margin-left: 1vw;
      }
    }
    .transfArea {
      align-self: auto;
      max-width: 82vw;
    }
    #autofillDivCons {
      padding-top: 0;
      margin-top: 0;
    }
    #formAddStud,
    #formAddProf {
      padding-inline: 3vw;
    }
    #formPanelDiv {
      > div {
        &:has(#coordPanelSelect) {
          padding-inline: 4vw;
        }
      }
    }
    #headRegstPac {
      width: 73vw;
    }
    #tipsDlg {
      left: 0%;
      border: ridge 0.3rem;
    }
  }
}

@media screen and (min-width: 460px) {
  #consTimeDiv {
    @include fRNoW;
    gap: 2%;
  }
}

@media screen and (min-width: 460px) and (max-width: 900px) {
  .panelBody {
    #tipsBtn {
      transform: translate(0, 0);
    }
  }
}
