/* Base Page Style */

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
  }
}

@mixin carded {
  width: 100%;
  min-width: 14.3rem;
}

@keyframes highlightButton {
  0% {
    filter: contrast(75%);
  }
  50% {
    filter: contrast(100%);
  }
  100% {
    filter: contrast(75%);
  }
}

.baseBody {
  background-color: #98c3a780;
  margin-top: 0;
  button {
    cursor: pointer;
  }

  button:hover,
  button.card-hborder:hover {
    color: #000;
    background-color: #ffff;
    animation: highlightButton 2s linear infinite;
  }

  div {
    &:has(#agAnchoredBtn):not(#bgDiv) {
      max-width: 23vw !important;
    }
  }

  footer {
    display: none;
    height: 1vh;
    width: 100vw;
    border-block: 6px ridge #87878773;
    background: linear-gradient(
      to right,
      rgba(104, 146, 131, 0.446),
      rgba(61, 134, 104, 0.429)
    );
  }

  section {
    &:has(> #rootUserInfo) {
      background-color: #529b85c6;
      border-color: #9cb6a6c6;
    }
    #nameLogin {
      color: #ece8e8;
    }
  }

  .anchoredBtn {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
  }

  .btn {
    &.btn-rounded {
      border-radius: 1rem;
    }
  }

  .card {
    @include carded;
    border-radius: 1rem;
  }

  .card-body {
    min-width: 14.3rem;
    border: 0.1rem ridge #6a7f7a73;
    background: linear-gradient(to right, #d6e9ddc6, #b5dcc5db);
    border-color: #b5dcc5db;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    small,
    span {
      font-weight: 600;
      font-size: 0.77rem;
      max-width: 90%;
      align-self: center;
    }
  }

  .card-hborder {
    @include carded;
    min-width: 0;
    background: linear-gradient(to right, #e8eeeab9, #c6e6d1d9);
    border-color: #bac6c0c6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 0.1rem ridge #6a7f7a73;
    img {
      min-width: 13rem;
      min-height: 13rem;
      max-width: 14.75rem;
      max-height: 14.75rem;
      transform: translateY(-0.5rem);
    }
  }

  .card-header {
    @include carded;
    display: inline-block;
    padding-top: 4vh;
    img {
      vertical-align: super;
    }
    &:hover {
      img {
        animation: highlightButton 2s linear infinite;
      }
    }
  }

  .footer-container {
    background-color: #ffff;
    margin: auto;
    border-top: none;
    line-height: 250%;
    font-size: 100%;
    opacity: 1;
  }

  .header-main-container {
    background: linear-gradient(
      to right,
      rgba(193, 214, 207, 0.446),
      rgba(125, 220, 180, 0.429)
    );
    border-block: 0.1rem ridge #87878773;
    border-bottom: 0.2rem ridge #87878754;
  }

  .header-main-text {
    color: #ece8e8e4;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 1rem;
    + * {
      max-width: 12rem;
      margin-right: 0.2rem;
    }
  }

  .main-article {
    margin: auto;
    height: 100vh;
  }

  .main-container {
    grid-template-rows: 88% 5%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(214, 230, 225, 0.719),
      rgba(95, 209, 194, 0.429)
    );
  }

  #bgDiv {
    background: linear-gradient(
      to right,
      rgb(78 95 84 / 64%),
      rgb(78 99 86 / 100%)
    );
    border-block: 1px ridge #87878773;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
  }

  #cardsSect {
    max-width: 98vw;
  }

  #panelBtn {
    box-shadow: 0.2vh 0.2vh 0.2vh rgba(133, 128, 128, 0.671);
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1420px) {
  #ag_but_sec {
    transform: translateY(-0.3rem);
    + * {
      transform: translateY(-0.3rem);
    }
  }
}

@media screen and (min-width: 1025px) {
  .baseBody {
    #cardsSect {
      grid-template-columns: repeat(4, 24.4%);
      gap: 0.5rem;
      max-width: 98%;
      padding-inline: 1.3vw 0.5vw;
    }
    .header-main-container {
      padding-left: 0.75rem;
    }
    .card {
      &:has(#agAnchoredBtn) {
        margin-left: 0.2rem;
        min-width: 13.7rem;
        max-width: 25vw !important;
      }
      .card-hborder {
        &#agAnchoredBtn {
          a {
            padding-bottom: 0.35rem;
          }
        }
        &:has(#odAnchoredBtn) {
          a {
            padding-bottom: 0.65rem;
          }
        }
        &:has(#efAnchoredBtn) {
          a {
            padding-bottom: 0.6rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .baseBody {
    div {
      &:has(#agAnchoredBtn) {
        &:not(#bgDiv) {
          max-width: 75vw !important;
        }
      }
    }
    footer {
      display: none;
    }
    header {
      &.header-main-container {
        padding-block: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100vw;
        height: unset;
        @if (flex-flow: column wrap) {
          flex-flow: row wrap;
        }
      }
    }
    .card.card23v {
      max-width: 50vw;
      width: 43vw;
      &:nth-of-type(3) {
        grid-row: 2;
      }
      &:nth-of-type(4) {
        grid-row: 2;
      }
    }
    .main-article {
      min-height: 70rem;
      height: 70rem;
    }
    .main-container {
      min-height: 70rem;
      height: 70rem;
    }
    #bgDiv {
      min-height: 75.5rem;
      height: 75.5rem;
    }
    #cardsSect {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;
      justify-content: center;
      max-width: 98.5%;
    }
  }
}

@media screen and (min-width: 851px) and (max-width: 1024px) {
  .baseBody {
    .main-container {
      min-height: 66rem;
      height: 66rem;
    }
    .main-article {
      min-height: 66rem;
      height: 66rem;
    }
    #bgDiv {
      min-height: 71rem;
      height: 71rem;
    }
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .baseBody {
    .main-article {
      min-height: 71rem;
      height: 71rem;
    }
    .main-container {
      min-height: 71rem;
      height: 71rem;
    }
    #cardsSect {
      min-height: 70rem;
      height: 70rem;
    }
    #bgDiv {
      min-height: 77rem;
      height: 77rem;
    }
    #panelSect {
      padding-bottom: 5rem;
    }
    #profileIconImg {
      margin-left: 0.1rem;
    }
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) and (orientation: landscape) {
  $ht721: 100vh;
  .baseBody {
    #panelSect {
      padding-top: 4rem;
      padding-bottom: 1rem;
    }
    #profileIconImg {
      margin-left: 0.1rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .baseBody {
    .main-container {
      min-height: 69rem;
      height: 69rem;
    }
    #bgDiv {
      min-height: 74rem;
      height: 74rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .baseBody {
    .main-article {
      min-height: 69.6rem;
      height: 69.6rem;
    }
    .main-container {
      min-height: 69.6rem;
      height: 69.6rem;
    }
    #bgDiv {
      min-height: 75rem;
      height: 75rem;
    }
    #cardsSect {
      min-height: 63rem;
      height: 63rem;
    }
    #panelBtn {
      transform: scale(1.1) translate(-1vw, 0);
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 721) {
  .baseBody {
    #panelSect {
      transform: translateY(-4rem) scale(1.1);
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 621) {
  .baseBody {
    #bgDiv {
      min-height: 72.3rem;
      height: 72.3rem;
    }
  }
}

@media (max-width: 721px) {
  .baseBody {
    div {
      &:has(#agAnchoredBtn):not(#bgDiv) {
        max-width: 90vw !important;
      }
    }

    .footer-container {
      height: auto;
    }

    .card-body {
      > * {
        min-width: 0;
      }
    }

    .card-hborder {
      min-width: 0;
    }

    .card-hborder {
      img {
        min-width: 0;
        min-height: 0;
        max-width: 13rem;
        padding-top: 3vw;
        transform: translateY(-0.75rem);
      }
    }

    .header-main-container {
      height: 20%;
    }

    .main-article {
      min-height: 71.5rem;
      height: 71.5rem;
    }

    .main-container {
      &.gridAuto750Q {
        grid-template-rows: auto;
      }
    }

    #cardsSect {
      min-height: 132vh;
      height: 132vh;
    }
  }
}

@media screen and (max-width: 591px) {
  .baseBody {
    .main-article {
      min-height: 74rem;
      height: 74rem;
    }
    .main-container {
      min-height: 74rem;
      height: 74rem;
    }
    #bgDiv {
      min-height: 82rem;
      height: 82rem;
    }
    #cardsSect {
      min-height: 55rem;
      height: 55rem;
    }
  }
}

@media screen and (min-width: 520px) and (max-width: 850px) {
  .baseBody {
    #panelSect {
      padding-top: 0;
      padding-bottom: 6vh;
    }
  }
}

@media screen and (min-width: 520px) and (max-width: 620px) {
  .baseBody {
    .header-main-text {
      margin-left: 8.5vw;
      + #divUserPanel {
        margin-left: 33vw;
      }
    }
  }
}

@media (max-width: 520px) {
  .baseBody {
    header {
      > div {
        margin-left: 30%;
      }
    }
    .card {
      &.card23v {
        max-width: 90vw;
        width: 90vw;
        margin-right: 3vw;
      }
    }
    .main-article {
      min-height: 116rem;
      height: 116rem;
    }
    .main-container {
      min-height: 116rem;
      height: 116rem;
    }
    #bgDiv {
      min-height: 124rem;
      height: 124rem;
    }
    #cardsSect {
      min-height: 109rem;
      height: 109rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin-left: 0.25rem;
    }
    #panelBtn {
      transform: scale(1.1) translate(-2.15vw, 0);
    }
    #panelSect {
      padding-top: 0;
      padding-bottom: 6vh;
      margin-left: 0.45rem;
    }
  }
}

@media (max-width: 460px) {
  .baseBody {
    .header-main-text {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 432px) {
  .baseBody {
    #bgDiv {
      min-height: 126rem;
      height: 126rem;
    }
  }
}
