/* Base Page Style */

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
  }
}

@mixin carded {
  width: 100%;
  min-width: 14.3rem;
}

@keyframes highlightButton {
  0% {
    filter: contrast(75%);
  }
  50% {
    filter: contrast(100%);
  }
  100% {
    filter: contrast(75%);
  }
}

.baseBody {
  background-color: #98c3a780;
  margin-top: 0;
  position: relative;
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  button {
    cursor: pointer;
  }
  button:hover,
  button.card-hborder:hover {
    color: #000;
    background-color: #ffff;
    animation: highlightButton 2s linear infinite;
  }
  div {
    &:has(#agAnchoredBtn):not(#bgDiv) {
      max-width: 23vw !important;
    }
  }
  footer {
    display: none;
    height: 1vh;
    width: 100vw;
    border-block: 6px ridge #87878773;
    background: linear-gradient(
      to right,
      rgba(104, 146, 131, 0.1),
      rgba(61, 134, 104, 0.15)
    );
  }
  section {
    &:has(> #rootUserInfo) {
      background-color: #529b85c6;
      border-color: #9cb6a6c6;
      margin-right: 1.5vw;
    }
    #nameLogin {
      color: #ece8e8;
    }
  }

  .anchoredBtn {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    &:hover {
      transform: translate(0, 0.1rem);
    }
    &:active {
      transform: translate(0, 0.2rem);
    }
  }

  .btn {
    &.btn-rounded {
      border-radius: 0.5rem;
    }
  }

  .card {
    @include carded;
    border-radius: 1rem;
  }

  .card-body {
    min-width: 14.3rem;
    border: 0.1rem ridge #6a7f7a73;
    background: linear-gradient(to right, #d6e9ddc6, #b5dcc5db);
    border-color: #b5dcc5db;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    small,
    span {
      font-weight: 600;
      font-size: 0.77rem;
      max-width: 90%;
      align-self: center;
      opacity: 0.8;
    }
  }

  .card-hborder {
    @include carded;
    min-width: 0;
    background: linear-gradient(to right, #e8eeeab9, #c6e6d1d9);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 0.1rem ridge #b5dcc5db;
    border-bottom-color: #bac6c0c6;
    img {
      min-width: 13rem;
      min-height: 13rem;
      max-width: 14.75rem;
      max-height: 14.75rem;
      transform: translateY(-0.5rem);
    }
  }

  .card-header {
    @include carded;
    display: inline-block;
    padding-top: 2.2rem;
    border-bottom: none;
    img {
      vertical-align: super;
    }
    &:hover {
      img {
        animation: highlightButton 2s linear infinite;
      }
    }
  }

  .card-title {
    font-weight: 800;
  }

  .footer-container {
    background-color: #ffff;
    margin: auto;
    border-top: none;
    line-height: 250%;
    font-size: 100%;
    opacity: 1;
  }

  .header-main-container {
    background: linear-gradient(
      to right,
      rgba(193, 214, 207, 0.446),
      rgba(125, 220, 180, 0.429)
    );
    border-block: 0.1rem ridge #87878773;
    border-bottom: 0.2rem ridge #87878754;
  }

  .header-main-text {
    color: #ece8e8e4;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 0.2vw;
    + * {
      max-width: 12rem;
      margin-right: 0.2rem;
    }
  }

  .main-article {
    margin: auto;
    height: 50rem;
    width: 100%;
  }

  .main-container {
    grid-template-rows: 88% 5%;
    height: 100%;
  }

  #bgDiv {
    background: linear-gradient(
      to right,
      rgb(78 95 84 / 64%),
      rgb(78 99 86 / 100%)
    );
    border-block: 1px ridge #87878773;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    border-radius: 0 !important;
    padding-top: 0 !important;
  }

  #cardsSect {
    max-width: 98vw;
  }

  #panelBtn {
    box-shadow: 0.2vh 0.2vh 0.2vh rgba(133, 128, 128, 0.671);
    transform: scale(1.2);
    padding-bottom: 2.1rem;
    &:hover {
      transform: scale(1.2) translate(0, 0.1rem);
    }
    &:active {
      transform: scale(1.2) translate(0, 0.2rem);
    }
  }
}

@media screen and (max-width: 1420px) {
  #ag_but_sec {
    transform: translate(0, -0.3rem);
    margin-top: 0.3rem;
    &:hover {
      transform: translate(0, -0.2rem);
    }
    &:active {
      transform: translate(0, -0.1rem);
    }
  }
}

@media screen and (min-width: 1025px) {
  .baseBody {
    .main-container {
      grid-template-rows: 88%;
    }
    .header-main-container {
      padding-left: 0.75rem;
    }
    .card {
      &:has(#agAnchoredBtn) {
        margin-left: 0.2rem;
        min-width: 13.7rem;
        max-width: 25vw !important;
      }
      .card-hborder {
        &#agAnchoredBtn {
          a {
            padding-bottom: 0.7rem;
          }
        }
        &:has(#odAnchoredBtn) {
          a {
            padding-bottom: 0.5rem;
          }
        }
        &:has(#efAnchoredBtn) {
          a {
            padding-bottom: 0.6rem;
          }
        }
        #nut_but {
          padding-bottom: 0.35rem;
        }
      }
    }
    #cardsSect {
      grid-template-columns: repeat(4, 24.8%);
      gap: 0.5rem;
      max-width: 98%;
      padding-inline: 0.3vw 0.5vw;
      transform: translateY(-2.3rem);
    }
    #panelSect {
      transform: translateY((-5.8rem));
    }
  }
}

@media screen and (max-width: 1025px) {
  .baseBody {
    div {
      &:has(#agAnchoredBtn) {
        &:not(#bgDiv) {
          max-width: 75vw !important;
        }
      }
    }
    footer {
      display: none;
    }
    header {
      &.header-main-container {
        padding-block: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100vw;
        height: unset;
        @if (flex-flow: column wrap) {
          flex-flow: row wrap;
        }
      }
    }
    .card.card23v {
      max-width: 50vw;
      width: 43vw;
      &:nth-of-type(3) {
        grid-row: 2;
      }
      &:nth-of-type(4) {
        grid-row: 2;
      }
    }
    .main-article {
      height: 70rem;
    }
    #cardsSect {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;
      justify-content: center;
      max-width: 98.5%;
    }
    #panelBtn {
      min-width: 20vw;
    }
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .baseBody {
    #profileIconImg {
      margin-left: 0.1rem;
    }
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) and (orientation: landscape) {
  $ht721: 100vh;
  .baseBody {
    #panelSect {
      padding-top: 4rem;
      padding-bottom: 1rem;
    }
    #profileIconImg {
      margin-left: 0.1rem;
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 721) {
  .baseBody {
    #panelSect {
      transform: translateY(-4rem) scale(1.1);
      padding-bottom: 0;
    }
  }
}

@media (max-width: 721px) {
  .baseBody {
    div {
      &:has(#agAnchoredBtn):not(#bgDiv) {
        max-width: 90vw !important;
      }
      #bgDiv {
        min-height: 70.7rem;
        height: 70.7rem;
      }
    }

    .footer-container {
      height: auto;
    }

    .card-body {
      > * {
        min-width: 0;
      }
    }

    .card-hborder {
      min-width: 0;
    }

    .card-hborder {
      img {
        min-width: 0;
        min-height: 0;
        max-width: 13rem;
        padding-top: 3vw;
        transform: translateY(-0.75rem);
      }
    }

    .header-main-container {
      height: 20%;
    }

    .main-article {
      min-height: 71.5rem;
      height: 71.5rem;
    }

    .main-container {
      padding-left: 0.75rem;
      &.gridAuto750Q {
        grid-template-rows: auto;
      }
    }

    #cardsSect {
      min-height: 56rem;
      height: 56em;
    }

    #panelSect {
      &:has(button) {
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
    }
  }
}

@media (max-width: 620px) {
  .baseBody {
    header {
      &.header-main-container {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 615px) {
  .baseBody {
    .main-article {
      min-height: max-content;
      height: 74rem;
    }
    #cardsSect {
      min-height: max-content;
      height: 58rem;
    }
  }
}

@media screen and (max-width: 592px) {
  .baseBody {
    #panelSect {
      &:has(button) {
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (min-width: 520px) and (max-width: 850px) {
  .baseBody {
    .main-article {
      min-height: 70rem;
      height: 70rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .baseBody {
    .main-article {
      min-height: 71.5rem;
      height: 71.5rem;
    }
    #cardsSect {
      min-height: 58rem;
      height: 58rem;
    }
    #panelBtn {
      transform: scale(1.1) translate(-1vw, 0);
      &:hover {
        transform: scale(1.1) translate(-1vw, 0.1rem);
      }
      &:active {
        transform: scale(1.1) translate(-1vw, 0.2rem);
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .baseBody {
    .main-article {
      min-height: 71.5rem;
      height: 71.5rem;
    }
    #cardsSect {
      min-height: 57rem;
      height: 57rem;
    }
    #panelBtn {
      transform: scale(1.1) translate(-1vw, 0);
      &:hover {
        transform: scale(1.1) translate(-1vw, 0.1rem);
      }
      &:active {
        transform: scale(1.1) translate(-1vw, 0.2rem);
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .baseBody {
    .main-article {
      min-height: 71.5rem;
      height: 71.5rem;
    }
    #cardsSect {
      min-height: 58rem;
      height: 58rem;
    }
    #panelBtn {
      transform: scale(1.1) translate(-1vw, 0);
      &:hover {
        transform: scale(1.1) translate(-1vw, 0.1rem);
      }
      &:active {
        transform: scale(1.1) translate(-1vw, 0.2rem);
      }
    }
  }
}

@media (max-width: 520px) {
  .baseBody {
    .card {
      &.card23v {
        max-width: 90vw;
        width: 90vw;
        margin-right: 3vw;
      }
    }
    .main-article {
      min-height: 116rem;
      height: 116rem;
    }
    #cardsSect {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      min-height: 107rem;
      max-width: 99.5%;
    }
    $panelBtnY: -2.7vw;
    #panelBtn {
      transform: scale(1.1) translate($panelBtnY, 0);
      &:hover {
        transform: scale(1.1) translate($panelBtnY, 0.1rem);
      }
      &:active {
        transform: scale(1.1) translate($panelBtnY, 0.2rem);
      }
    }
  }
}

@media (max-width: 460px) {
  .baseBody {
    div {
      #bgDiv {
        min-height: 125.625rem;
      }
    }
    .header-main-text {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 414px) {
  .baseBody {
    .main-article {
      min-height: 121rem;
      height: 121rem;
    }
    #cardSect {
      min-height: 114rem;
      height: 114rem;
    }
  }
}

@media screen and (max-width: 344px) {
  .baseBody {
    .main-article {
      min-height: 121rem;
      height: 121rem;
    }
    #cardSect {
      min-height: 112rem;
      height: 112rem;
      margin-left: 2.5vw;
    }
  }
}
