/* AG Page Styles */
@use "../abstracts/variables" as *;
@use "../base/root" as *;
@use "../base/animations" as *;
@use "../abstracts/mixins" as *;
@supports (scrollbar-width: none) {
  * {
    scrollbar-width: thin;
  }
}
.agBody {
  div {
    &.switchDiv {
      padding: 2.5vh 0 0.75vh 0;
    }
  }
  label {
    &[for="qxPrinc"],
    &[for="histDc"] {
      margin-bottom: 0.5rem;
    }
    &[for="dateBdayId"] {
      width: 88%;
    }
  }
  textarea {
    max-width: 90vw;
    &.form-control {
      max-width: 90vw;
    }
  }
  [type="checkbox"] {
    accent-color: rgba(0, 128, 0, 0.836);
  }
  [type="checkbox"],
  [type="radio"] {
    &#HASPreId,
    &#fumoLeveId {
      accent-color: $primary-alert;
    }
    &#HASStg1Id,
    &#fumoModId {
      accent-color: $secondary-alert;
    }
    &#HASStg2Id,
    &#fumoAltoId {
      accent-color: $tert-alert;
    }
    &#HASStg3Id {
      accent-color: $max-alert;
    }
    &.form-check-input {
      &:checked {
        &#HASPreId,
        &#fumoLeveId {
          background-color: $primary-alert;
          border-color: $primary-alert;
        }
        &#HASStg1Id,
        &#fumoModId {
          background-color: $secondary-alert;
          background-color: $secondary-alert;
        }
        &#HASStg2Id,
        &#fumoAltoId {
          background-color: $tert-alert;
          background-color: $tert-alert;
        }
        &#HASStg3Id {
          background-color: $max-alert;
          background-color: $max-alert;
        }
      }
    }
  }

  .antMedBlock,
  .antMedContainer,
  .antMedDiv,
  .antMedLabel,
  .antMedText,
  .divAntMedSpan,
  .divAntMedSubSpan {
    display: flex;
  }

  .antMedBlock,
  .antMedContainer,
  .spanSubAntMedText {
    flex-direction: row;
  }

  .antMedBlock,
  .antMedDiv,
  .antMedLabel,
  .divAntMedSubSpan,
  #antMedBtnsDiv {
    align-items: center;
  }

  .antMedText,
  .pbAlmSpan {
    vertical-align: middle;
  }

  .cbDoencaSubt {
    display: flex;
    gap: 0.5rem;
  }

  .countAntMed,
  #addAntMedId {
    font-weight: bold;
  }

  .divAdd {
    border-radius: 0.5rem;
    min-width: 20vw;
    overflow: auto;
    input {
      &[type="checkbox"] {
        accent-color: mintcream;
      }
    }
    &.divAntFam {
      padding: 2%;
      border: 0.125rem groove #49505726;
    }
    &.divAntFamCheck {
      column-gap: 6%;
      min-width: 85%;
      border: 0.125rem groove #49505726;
      input {
        &[type="checkbox"] {
          &:not(:checked) {
            opacity: 0.3;
          }
          &:checked {
            opacity: 1;
          }
        }
      }
    }
    &:not(.divAntFam) {
      margin-block: 0.5rem;
      padding: 1rem;
    }
    &:not(textarea) {
      border: groove grey 0.125rem;
      border: 0.125rem groove #49505726;
    }
    &.gridTwoCol {
      column-gap: 5%;
    }
    &#divAddHep {
      min-width: 80vw;
      padding-bottom: 1.5rem;
    }
  }

  .numNullId {
    &.form-check-input {
      margin: 0;
      padding-left: 1vw;
      transform: translate(-3px, -1px);
    }
    &:hover {
      cursor: url(../../../public/img/exclamation.svg) 4 12, auto;
    }
  }

  .spanSubAntMedText,
  #divFreqOdont,
  #fsAnamGRadSectId {
    justify-content: space-between;
  }

  #autoCompCepBtn {
    &:enabled {
      background-color: blue;
      &:hover {
        animation: highlightBtn 2s infinite;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.3;

      &:hover {
        background-color: orangered;
      }
    }
  }

  #fsAnamGSpan13,
  #fsAnamGSpan14 {
    grid-column: 2 / span 1;
  }

  .antMedDateDiv {
    align-items: center;
    justify-content: space-evenly;
    column-gap: 0.7rem;
  }

  .antMedDiv {
    width: 80%;
  }

  .antMedText {
    margin-left: 5%;
  }

  .antMedDate,
  .atualTratBtn {
    margin-right: 2%;
    margin-left: 2%;
  }

  .inpDate.inpAntMed.antMedDate[id*="End"] {
    @include bdr0;
  }

  .atualTratBtn {
    @include bdl0;
    margin-left: 0;
    transform: translateX(-1.8rem) translateY(0.027rem) scale(1.07);
  }

  .btn {
    &.biBtn {
      &.countAntMed {
        @include sz(1.25rem, 1.5rem);
        margin-bottom: 0.25rem;
        margin-right: 0;
        transform: scale(1);
      }
    }
  }

  .divAntFamCheck {
    transition: opacity 0.5s ease-in-out;
  }

  .divAntMedSpan {
    flex-flow: column;
    @include sz(50%, 20%);
  }

  .divAntMedSubSpan {
    padding: 3%;
  }

  .fsAnamGSpan {
    &.locSpan {
      padding-top: 1vh;
      column-gap: 0;
      align-items: start;
      :first-child {
        &:not([class*="form-"]) {
          margin-left: 1vw;
        }
        &:is(.form-check-input) {
          margin-left: 0.5vw;
        }
      }
    }
  }

  .fsAGRadDiv,
  .sectFreqSubSpan {
    &:has(input[type="radio"]) {
      row-gap: 0.5vh;
      margin-bottom: 0.5rem;
      .radNo,
      #pbAlmNo {
        margin-inline: 0.8rem;
        transform: scale(1.3) translateY(0.05rem);
        opacity: 0.4;
        &:not(#pbAlmNo) {
          margin-top: 0.3rem;
        }
        &:checked {
          opacity: 1;
        }
      }
    }
  }

  .halfSpanCheck {
    &.halfR {
      height: 2.4rem;
      margin-top: 0.1vh;
      &:has(#streetNumNullId) {
        height: 2.4rem;
      }
    }
  }

  .inpLocNum {
    @include minWD(8rem, calc(0.05rem + 17.25vw));
  }

  .labelIdentif {
    min-width: 90%;
  }

  .labDlist {
    margin-bottom: 0.7vh;
  }

  .radFumo,
  .opFumSubs {
    @include formCheckOpaque;
  }

  .spanMainFsAnamGRad {
    ~ .divAdd {
      min-width: 60vw;
      input {
        &[type="checkbox"],
        &[type="radio"] {
          &:not(:checked) {
            opacity: 0.3;
          }
          &:checked {
            opacity: 1;
          }
        }
      }
    }
  }

  .taOp {
    width: 61.5vw;
  }

  .spanAntMedDate {
    width: 100%;
  }

  #autoCompCepBtn {
    @include bdt0;
    margin-left: 0.07rem;
  }

  #antMedBtnsDiv {
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    column-gap: 0;
  }

  #cepId {
    margin-top: 0.3rem;
    @include bdb0;
  }

  #compNumId {
    padding-bottom: 0.4rem;
  }

  #confirmId {
    margin: 0.25rem 0 0 0.7rem;
  }

  #dateBdayId {
    min-width: 22.8vw;
  }

  #divAddFamDiab {
    .divAntFamCheck {
      width: 99%;
      margin-left: 0.1rem;
    }
  }

  #divAddFamDislip {
    margin-left: 0;
    padding-left: 1rem;
    #divSubtypeDislip {
      padding-left: 0;
    }
  }

  #divAddFumo {
    min-width: 70vw;
    overflow: auto;
    border: 0.125rem groove #49505726;
    .spanSubFsAnamGRad,
    .labFum {
      padding-left: 0.2rem;
    }
  }

  #divAddGrv {
    width: 61.5vw;
    input {
      @include formCheckOpaque;
      transform: translateY(0.04rem);
      &:not(:first-of-type) {
        margin-left: 0.6rem;
      }
    }
  }

  #divAddHiv {
    padding-bottom: 2rem;
    padding-right: 1.5rem;
  }

  #divFreqOdont {
    @include wCGapB(60%, 5%);
    grid-template-columns: [main] 1fr [extra] 1fr;
    grid-auto-flow: row;
    input {
      &[type="text"],
      &[type="number"] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 24' fill='rgba(23, 23, 23, 0.7)'%3E%3Cpath transform='translate(1, 5)' d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0ZM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1ZM6.5 5.5v.634l.549-.317a.5.5 0 1 1 .5.866L7 7l.549.317a.5.5 0 1 1-.5.866L6.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L5 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5a.5.5 0 1 1 1 0ZM4.5 10.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1Zm0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1Z'/%3E%3C/svg%3E");
        @include bgFit;
      }
    }
  }

  #divIdentif_2 span {
    min-width: 19.62rem;
  }

  #fsAnamGDiv2 {
    width: 63.5%;
  }

  #fsAnamGDiv3 {
    width: 75%;
    input:not([type="radio"]):not([type="checkbox"]),
    select {
      min-width: 5rem;
    }
    #streetNumId,
    #compNumId {
      width: 13.3rem;
    }
  }

  #fsAnamGSpan8 {
    grid-row: 3 / 5;
    transform: translateY(0.85rem);
  }

  #fsAnamGSpan9 {
    transform: translateY(-3rem);
  }

  #fsAnamGSpan13 {
    grid-row: 4;
  }

  #fsAnamGSpan14 {
    grid-row: 5;
  }

  #fsAnamGRadSectId {
    padding-left: 0.5%;
  }

  #fsAnamGSect {
    hr {
      margin-top: 2rem;
      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }
    }
    + hr {
      margin-top: 2rem;
    }
  }

  #fsSdGeralSect,
  #fsAntFamSect {
    hr:last-of-type,
    + hr {
      margin-top: 2rem;
    }
  }

  #hivCargId {
    height: 2.5rem;
  }

  .sectionConfirm,
  #fsAntMedId {
    overflow: auto;
    max-width: 100vw;
    margin-bottom: 2vh;
  }

  #spanFsAnamG16 {
    padding-left: 0;
  }

  #statusPac {
    width: 90%;
  }

  #tempFum {
    transform: translateY(-2rem);
  }

  #textAddOtherDId {
    width: 100%;
  }

  #UFId {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .agBody {
    #fsAnamGDiv4 {
      min-width: 66vw;
    }
  }
}
@media screen and (min-width: 900px) {
  .agBody {
    #confirmDatBtn {
      transform: scale(1.017) translateY(0.5px);
    }
  }
}
@media screen and (min-width: 901px) {
  .agBody {
    .addAntMed {
      margin-right: 0.5rem;
    }
    #ageId {
      width: 23vw !important;
    }
    #fsAnamGDiv3 {
      width: 65.33%;
    }
    #labHivCarg {
      margin-top: 0.5rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .agBody {
    .antMedBlock,
    .antMedBlock.spanMain,
    .antMedContainer,
    .antMedBtnsDiv {
      display: flex;
    }

    .antMedContainer {
      align-content: top;
      align-items: start;
    }

    .antMedDiv {
      width: 100%;
      box-sizing: unset;
      text-align: center;
    }

    .antMedBtnsDiv,
    .antMedDiv,
    .spanSubAntMedDate {
      flex-wrap: nowrap;
    }

    .antMedBtnsDiv {
      flex-direction: column;
    }

    .antMedBlock {
      padding: 0 0 1% 0;
      overflow: auto;
      column-gap: 1vw;
      scrollbar-width: thin;
    }

    .atualTratBtn {
      transform: translateX(-1.1rem) scale(1.057);
    }

    .gridThreeCol {
      &#divOtherD {
        max-width: 68.75rem;
      }
    }

    .numNullId {
      &.form-check-input {
        transform: translate(-2px, 0);
      }
    }

    .spanAntMedText {
      .antMedLabel,
      .antMedLabel.antMedText {
        height: 100%;
      }
    }

    .spanAntMedDate {
      width: 50%;
      .spanSubAntMedDate {
        flex-direction: row;
        padding: 0;
        &.antMedBtnsDiv {
          justify-content: space-between;
          justify-self: right;
          width: 15%;
          padding-top: 5%;
          &.removeAntMed {
            margin-top: 67%;
            margin-bottom: 67%;
          }
        }
      }

      input[type="date"]:not([data-title*="data_ini"]),
      .datBtn {
        margin-right: 0;
        margin-bottom: 1%;
        margin-top: 1%;
      }
      input[type="date"],
      .datBtn {
        width: 90%;
      }
    }

    .spanAntMedDate,
    .spanSubAntMedDate {
      justify-content: start;
    }

    .spanAntMedDate,
    #fsAnamGRadODSectId,
    #divOtherD {
      display: flex;
      flex-wrap: nowrap;
    }

    .spanAntMedDate,
    #fsAnamGDiv1,
    #fsAnamGRadODSectId,
    #fsAntMedLeg,
    #divOtherD {
      flex-direction: column;
    }

    .switchDiv {
      margin-left: -1.2vw;
      margin-bottom: 0.5rem;
    }

    #antMedBtnsDiv {
      display: flex;
      padding: 0.3rem 0 0 0;
      transform: translateX(-0.4rem);
    }

    #confirmAstDigtBtn {
      margin-right: 0;
    }

    #dateAgeId {
      @include minMaxWDB($base900InpWidth, 25vw !important, 36ch);
    }

    #dateBdayId {
      min-width: 85vw;
    }

    #fsAnamGDiv1,
    #divIdentif_2,
    #fsAnamGDiv2,
    #fsAnamGDiv3,
    #genDiv {
      input {
        &:not([id*="street"]):not([id*="compNum"]) {
          @include stkWB($base900InpWidth, $baseVw900InpWidth);
        }
        &#streetId {
          @include limStkW($baseVw900InpWidth);
        }
        &#streetNumId,
        &#compNumId {
          @include limStkW(93%);
        }
      }
      select {
        @include stkWB($base900InpWidth, $baseVw900InpWidth);
      }
      span {
        &.halfR {
          &:has(#streetNumNullId),
          &:has(#compNumNullId) {
            @include minMaxWD(3rem, 7.3%);
          }
        }
      }
      .spanLoc {
        @include limStkW($baseVw900InpWidth + 2.2vw);
      }
    }

    #fsAnamGSpan6,
    #fsAnamGSpan16 {
      order: 1;
    }

    #fsAnamGSpan7,
    #fsAnamGSpan17 {
      order: 2;
    }

    #fsAnamGSpan8,
    #fsAnamGSpan18 {
      order: 3;
    }

    #fsAnamGSpan9,
    #fsAnamGSpan19 {
      order: 4;
    }

    #fsAnamGSpan10,
    #fsAnamGSpan20 {
      order: 5;
    }

    #fsAnamGSpan11,
    #fsAnamGSpan21 {
      order: 6;
    }

    #fsAnamGSpan22 {
      order: 7;
    }

    #fsAnamGSpan13,
    #fsAnamGSpan23 {
      order: 8;
    }

    #fsAnamGSpan13,
    #fsAnamGSpan14 {
      width: 85%;
      padding: 0;
      margin-left: 1%;
    }

    #fsAnamGSpan9 {
      transform: translateY(-1rem);
    }

    #divFreqOdont {
      width: 90%;
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (min-width: 900px) and (max-width: 980px) {
  #divIdentif_2 {
    #fsAnamGSpanCPF {
      min-width: 19rem;
    }
  }
}
@media screen and (max-width: 460px) {
  .agBody {
    #fsAnamGDiv3 {
      input {
        &#streetNumId,
        &#compNumId {
          @include minMaxWD(92.7%, 90vw);
        }
      }
      span {
        &.halfR {
          &:has(#streetNumNullId),
          &:has(#compNumNullId) {
            @include minMaxWD(3rem, 7.3%);
          }
        }
      }
      .spanLoc {
        @include limStkW(calc($baseVw900InpWidth - 2.2vw));
      }
    }
  }
}
